@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Do_an_CCNPMM.Models.DonHang>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "DonHang";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>User Profile</h1>
                <nav class="d-flex align-items-center">
                    <a class="nav-link" asp-area="User" asp-controller="Home" asp-action="Index">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a>My Profile</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<section class="blog_area single-post-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" onerror="this.src='../../images/duphong.webp'" src="@if (ViewBag.khachhang.AnhDaiDien!=null){@ViewBag.khachhang.AnhDaiDien}" alt="">
                        <h4>@ViewBag.khachhang.TenNguoiDung</h4>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">User Profile</h3>
                        <div class="media post_item">
                            <div class="media-body">
                                <a class="noidungInfo" asp-action="ChiTietNG">
                                    <h3>Thông tin tài khoản</h3>
                                </a>
                            </div>
                        </div>
                        <div class="media post_item">
                            <div class="media-body">
                                <a class="noidungInfo_active" asp-action="DonHang">
                                    <h3>Đơn hàng của bạn</h3>
                                </a>
                            </div>
                        </div>
                        <div class="media post_item">
                            <div class="media-body">
                                <a href="@Url.Action("EditMK", new { id =@ViewBag.khachhang.MaNguoiDung })">
                                    <h3>Đổi mật khẩu</h3>
                                </a>
                            </div>
                        </div>
                        <div class="media post_item">
                            <div class="media-body">
                                <a asp-action="SoDiaChi">
                                    <h3>Số địa chỉ(@ViewBag.khachhang.NguoiDungDiaChis.Count)</h3>
                                </a>
                            </div>
                        </div>
                        <div class="media post_item">
                            <div class="media-body">
                                <a asp-controller="UserLogin" asp-action="Logout">
                                    <h3>Đăng xuất</h3>
                                </a>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog_right_sidebar">
                    <h2 >Đơn hàng của bạn</h2>
                    <div class="table-responsive">
                        <table class="table table-hover e-commerce-table">
                            <thead>
                                <tr>
                                    <th>Đơn hàng</th>
                                    <th>Tình Trạng Đơn Hàng</th>
                                    <th>Địa chỉ</th>
                                    <th>Giá trị đơn hàng</th>
                                    <th>TT thanh toán</th>
                                    <th>Ngày Dự Kiến Giao</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.MaDonHang</td>
                                        <td>@item.TinhTrang</td>
                                        <td>@item.DiaChi</td>
                                        <td>@item.TongTien</td>
                                        @{
                                            @if (@item.DaThanhToan == null || item.DaThanhToan == false)
                                            {
                                                <td>Chưa Thanh Toán</td>
                                            }
                                            else
                                            {

                                                <td>Đã Thanh Toán</td>
                                            }

                                        }
                                        <td>@String.Format("{0:dd/MM/yyyy}", item.NgayDuKien)</td>

                                        <td>

                                            <div class="btn-group btn-group-sm ">
                                                <a href="@Url.Action("ChiTietDH", "UserDetail", new { Area = "User", MaDH = item.MaDonHang })">
                                                    <i class="fa fa-edit btn btn-primary "></i>
                                                </a>
                                                <a href="@Url.Action("Delete", "UserDetail", new { Area ="User", id = item.MaDonHang })">
                                                    <i class="fa fa-trash btn btn-danger "></i>
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <pager class="pager-container" list="Model" asp-area="User" asp-controller="UserDetail" asp-action="DonHang" />
                </div>
            </div>
        </div>
    </div>
</section>