@model Do_an_CCNPMM.Models.NguoiDung

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Thông tin người dùng</h1>
                <nav class="d-flex align-items-center">
                    <a class="nav-link" asp-area="User" asp-controller="Home" asp-action="Index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a>Thông tin của bạn</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<section class="blog_area single-post-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" onerror="this.src='../../../images/duphong.webp'" src="@if (ViewBag.khachhang.AnhDaiDien!=null){
                        @ViewBag.khachhang.AnhDaiDien
;}" alt="">
                        <h4>@ViewBag.khachhang.TenNguoiDung</h4>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Tài khoản</h3>
                        <div class="media post_item">
                            <div class="media-body">
                                <a class="noidungInfo" asp-action="ChiTietNG">
                                    <h3>Thông tin tài khoản</h3>
                                </a>
                            </div>
                        </div>
                        <div class="media post_item">
                            <div class="media-body">
                                <a class="noidungInfo_active" asp-action="DonHang">
                                    <h3>Đơn hàng của bạn</h3>
                                </a>
                            </div>
                        </div>
                        <div class="media post_item">
                            <div class="media-body">
                                <a href="@Url.Action("EditMK", new { id =@ViewBag.khachhang.MaNguoiDung })">
                                    <h3>Đổi mật khẩu</h3>
                                </a>
                            </div>
                        </div>
                        @*<div class="media post_item">
                            <div class="media-body">
                                <a asp-action="SoDiaChi">
                                    <h3>Số địa chỉ(@ViewBag.khachhang.NguoiDungDiaChis.Count)</h3>
                                </a>
                            </div>
                        </div>*@
                        <div class="media post_item">
                            <div class="media-body">
                                <a asp-controller="UserLogin" asp-action="Logout">
                                    <h3>Đăng xuất</h3>
                                </a>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                    </aside>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog_right_sidebar">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="MaNguoiDung" />

                        <div class="form-group col-lg-6">
                            @*<label asp-for="TenNguoiDung" class="control-label"></label>*@
                            <span>Họ và tên:</span>
                            <input required="" asp-for="TenNguoiDung" class="form-control" value="@ViewBag.khachhang.TenNguoiDung" />
                            <span asp-validation-for="TenNguoiDung" class="text-danger"></span>
                        </div>
                        @*<div class="form-group col-lg-6">
                            <label asp-for="AnhDaiDien" class="control-label"></label>
                            <input required="" asp-for="AnhDaiDien" class="form-control" value="@ViewBag.khachhang.AnhDaiDien" />
                            <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
                        </div>*@
                        <div class="form-group col-lg-6">
                            @*<label asp-for="TenDangNhap" class="control-label"></label>*@
                            <span>Tên đăng nhập</span>
                            <input required="" asp-for="TenDangNhap" class="form-control" value="@ViewBag.khachhang.TenDangNhap" />
                            <span asp-validation-for="TenDangNhap" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-6">
                            <label asp-for="Email" class="control-label"></label>
                            <input required="" asp-for="Email" class="form-control" value="@ViewBag.khachhang.Email" readonly />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            @*<label asp-for="Sdt" class="control-label"></label>*@
                            <span>Số điện thoại: </span>
                            <input required="" asp-for="Sdt" class="form-control" value="@ViewBag.khachhang.Sdt" />
                            <span asp-validation-for="Sdt" class="text-danger"></span>
                        </div>
                        @*<div class="form-group col-lg-6">
                            <label asp-for="ViDienTu" class="control-label"></label>
                            <input required="" asp-for="ViDienTu" class="form-control" value="@ViewBag.khachhang.ViDienTu" />
                            <span asp-validation-for="ViDienTu" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <input type="submit" class="genric-btn primary radius" />

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


