@model Do_an_CCNPMM.ViewModels.HomeVM
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";

}


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a asp-area="User" asp-controller="Home" asp-action="Index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>

                    <a>Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        <!-- End Banner Area -->
        <form class="" asp-area="User" asp-controller="Cart" asp-action="Checkout" method="post" novalidate="novalidate">
            <div class="billing_details">
                <div class="col">
                    <div class="row-lg-12">
                        <h3>Chi tiết hóa đơn</h3>
                            <div class="col-lg-12">
                                <div class="row">

                                    <div class="col-md-12 form-group p_star">
                                        <span class="" >Họ và tên người nhận</span>
                                        <input asp-for="TenNguoiNhan" value="@ViewBag.TenND" type="text" class="form-control" id="first" >
                                    </div>

                                    <div class="col-md-6 form-group p_star">
                                        <span>Số điện thoại</span>
                                        <input asp-for="SDT" value="@ViewBag.SDT" type="text" class="form-control" id="number" >
                                    </div>

                                    <div class="col-md-6 form-group p_star">
                                        <span>Email</span>
                                        <input value="@ViewBag.Email" type="text" class="form-control" id="email" name="email">
                                    </div>
                        
                                    <div class="col-md-12 form-group p_star">
                                        <span>Địa chỉ</span>
                                        <input asp-for="DiaChi" asp-items="@ViewBag.DiaChi" type="text" class="form-control" id="add1" >
                                    </div>

                                </div>
                            </div>
                    </div>
                    <h3></h3>
                    <div class="row-lg-12 cart_inner">
                        <div class="order_box table-responsive">
                            <h3>Đơn hàng của bạn</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Tổng</th>
                                        <th scope="col"></th>
                            
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cart in ViewBag.giohang.item)
                                    {
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <div class="d-flex">
                                                        @if (@cart.MatHangAnhs.Count > 0)
                                                        {
                                                            <img onerror="this.src='images/duphong.webp'" src="~/@cart.MatHangAnhs[0].Anh" width="50px" height="50" alt="">
                                                        }
                                                        else
                                                        {
                                                            <img onerror="this.src='images/duphong.webp'" src="~/images/duphong.webp" width="50px" height="50" alt="">
                                                        }
                                                    </div>
                                                    <div class="media-body">
                                                            <p style="align-self:center">@cart.SanPham.TenMatHang</p>

                                                    </div>
                                                </div>
                                            </td>
                                            <td><h5 id="gia">@string.Format("{0:0,0}", @cart.CT_GH.Gia) <sup>VND</sup></h5></td>
                                            <td>
                                                <div>
                                                    <h5 id="amount" >@cart.CT_GH.SoLuong</h5>
                                                </div>
                                            </td>
                                            <td> <h5 id="tong">@string.Format("{0:0,0}", @cart.tong) <sup>VND</sup></h5></td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>
                                            
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            <h5>Tổng cộng</h5>
                                        </td>
                                        <td>
                                            <h5>@string.Format("{0:0,0}", @ViewBag.thanhtien) <sup>VND</sup></h5>
                                        </td>
                                        <td>
                                            <button class="primary-btn" type="submit">Check Out</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!--================End Checkout Area =================-->