@model Do_an_TMDT.Models.NguoiDung

@{
    ViewData["Title"] = "Chi tiết shipper";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">@ViewData["Title"] :</h2>
    <div class="header-sub-title">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dash list-inline">
                <li class="breadcrumb-item list-inline-item">
                    <i class="anticon anticon-home m-r-5"></i>
                    <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item list-inline-item">
                    <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminThuongHieus" asp-action="Index">Quản lý shipper</a>
                </li>
                <li class="breadcrumb-item active list-inline-item" aria-current="page">
                    @ViewData["Title"]
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-sm-8">
            <div class="row m-10 ">
                <div class="col-sm-6 border border-dark ">
                    Tên người dùng
                </div>        
                <div class="col-sm-6 border border-dark ">
                    @Html.DisplayFor(model => model.TenNguoiDung)
                </div>

            </div>
            <div class="row m-10">
                <div class="col-sm-6 border border-dark ">
                    Ảnh đại diện
                </div>

                <div class="col-sm-6 border border-dark ">
                    <img class="img-fluid rounded" onerror="src='/images/duphong.webp'"
                         src="~/@if(Model.AnhDaiDien!=null)
                                {
                                    @Model.AnhDaiDien
                                }"
                         style="max-width: 60px;">
                </div>

            </div>
            <div class="row m-10">
                <div class="col-sm-6 border border-dark ">
                    Email
                </div>

                <div class="col-sm-6 border border-dark ">
                    @Html.DisplayFor(model => model.Email)
                </div>

            </div>
            <div class="row m-10">
                <div class="col-sm-6 border border-dark ">
                    Số điện thoại
                </div>

                <div class="col-sm-6 border border-dark ">
                    @Html.DisplayFor(model => model.Sdt)
                </div>

            </div>
            <div class="row m-10">
                <div class="col-sm-6 border border-dark ">
                    Loại người dùng
                </div>

                <div class="col-sm-6 border border-dark ">
                    @Html.DisplayFor(model => model.MaLoaiNguoiDungNavigation.MaLoaiNguoiDung)
                </div>

            </div>
            <div class="row m-10 justify-content-center">
                <div class="col-auto">
                    <a class="btn btn-primary m-1" asp-area="Admin" asp-controller="AdminShippers" asp-action="Index">Quay Lại</a>
                </div>
            </div>
        </div>
    </div>
</div>