@model Do_an_CCNPMM.Models.NhaCungCap

@{
    ViewData["Title"] = "Chi tiết nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">@ViewData["Title"] :</h2>
    <div class="header-sub-title">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dash list-inline">
                <li class="breadcrumb-item list-inline-item">
                    <i class="anticon anticon-home m-r-5"></i>
                    <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item list-inline-item">
                    <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminNhaCungCaps" asp-action="Index">Quản lý nhà cung cấp</a>
                </li>
                <li class="breadcrumb-item active list-inline-item" aria-current="page">
                    @ViewData["Title"]
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-sm-8">
            <div class="row m-10 ">
                <div class="col-sm-6 border border-dark ">
                    Tên Thương Hiệu
                </div>        
                <div class="col-sm-6 border border-dark ">
                    @Html.DisplayFor(model => model.TenNhaCungCap)
                </div>

            </div>
            <div class="row m-10">
                <div class="col-sm-6 border border-dark ">
                    Slug
                </div>

                <div class="col-sm-6 border border-dark ">
                    @Html.DisplayFor(model => model.Std)
                </div>

            </div>
            <div class="row m-10 justify-content-center">
                <div class="col-auto">
                    <a class="btn btn-primary m-1" asp-area="Admin" asp-controller="AdminNhaCungCaps" asp-action="Edit" asp-route-id="@Model.MaNhaCungCap">Chỉnh sửa</a>
                    <a class="btn btn-primary m-1" asp-area="Admin" asp-controller="AdminNhaCungCaps" asp-action="Index">Quay Lại</a>
                </div>
            </div>
        </div>
    </div>
</div>