@model Do_an_CCNPMM.Models.NguoiDung
@{
    ViewData["Title"] = "DonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<!-- page css -->
<link href="~/adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
*@
<!-- Core css -->
<link href="~/adminassets/css/app.min.css" rel="stylesheet">

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Customer Information</h1>
                <nav class="d-flex align-items-center">
                    <a asp-area="" asp-controller="Home" asp-action="Loadsanpham">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Customer</a>
                </nav>
            </div>
        </div>
    </div>
</section>

@{

    if (@ViewBag.sus != null)
    {
        <div class="col">
            <div class="alert alert-success col-lg-2" role="alert">
                @ViewBag.sus
            </div>
        </div>
    }
}
<section class="NoidungChinh">
    <div class="Noidung1">
        <div class="title_hello">
            <h5 class="title_trangtaikhoan">User Page</h5>
            <p>
                Hello,
                <span>@ViewBag.khachhang.TenNguoiDung </span>
            </p>
        </div>
        <ul class="noidung1_1">
            <li><a class="noidungInfo" asp-action="ChiTietNG">User infomation</a></li>
            <li><a class="noidungInfo_active" asp-action="DonHang">Your orders</a></li>
            <li><a class="noidungInfo" href="@Url.Action("EditMK", new { id =@ViewBag.khachhang.MaNguoiDung })">Change password</a></li>
            <li><a asp-controller="Home" asp-action="Loadsanpham">Log out</a></li>
        </ul>
    </div>
    <div class="Noidung2">
        <h2 class="title_Chinh">Your order</h2>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>

                    </tr>
                </thead>
                <tbody>
                    @{if (ViewBag.chitietdonhang != null)
                        { @foreach (var item in ViewBag.chitietdonhang)
{
                                <tr>
                                    <td>@item.CT_DH.MaDonHang</td>
                                    <td>@item.SanPham.TenMatHang</td>
                                    <td>@string.Format("{0:0,0}", @item.CT_DH.Gia)<sup>VND</sup></td>
                                    <td>@item.CT_DH.SoLuong</td>

                                </tr>
}
                        }
                    }
            </table>
            <form asp-action="ChiTietDH">
                @{if (ViewBag.tinhtrang == "Chưa xác nhận")

                    {

                        <div class="form-group">
                            <input type="submit" value="Xác Nhận" class="btn btn-primary" />
                        </div>}
                   else if (ViewBag.tinhtrang == "Đã giao")

                        {

                            <div class="form-group">
                                <input type="submit" value="Xác Nhận đã nhận" class="btn btn-primary" />
                            </div>}
                        else
                        {
                            <div class="form-group">
                                <input type="button" value="Đã xác nhận" class="btn btn-primary" />
                            </div>
                        }
                    }

                </form>
        </div>
        <div class="form-group">
            <a asp-area="" asp-controller="ChiTIetNguoiDung" asp-action="DonHang" class="btn btn-primary">Quay Lại</a>
        </div>
    </div>

</section>
<style>
    .NoidungChinh {
        position: relative;
        padding-left: 200px;
        display: flex;
        width: 100%;
        height: 500px;
    }

    .Noidung1 {
        text-align: left;
    }

    .title_hello {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .title_trangtaikhoan {
        padding-top: 10px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
    }

    .noidungInfo {
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 0px;
        margin-bottom: 20px;
    }

    .noidung1_1 {
        list-style: none;
        display: list-item;
        margin-bottom: 20px;
    }

    .Noidung2 {
        list-style: none;
        padding-top: 30px;
        padding-left: 200px;
    }

    .title_Chinh {
        text-transform: uppercase;
        font-size: 19px;
        margin-bottom: 20px;
    }

    .noidung1_1 > li > a {
        margin-top: 20px;
        margin-bottom: 20px;
        list-style: none;
        text-decoration: none;
        display: block;
        color: #777777
    }

    .noidung1_1 > li > a:hover {
        color: #FF6D01;
        font-size: 15px;
    }

</style>