@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Do_an_TMDT.Models.DonHang>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "DonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- page css -->
<link href="~/adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<!-- Core css -->
<link href="~/adminassets/css/app.min.css" rel="stylesheet">
<link href="~/css/4.css" rel="stylesheet" />
<link href="~/css/3.css" rel="stylesheet" />
<section class="bread-crumb">
    <div class="container">
        <div class="nd-main-title-breadcrumb text-center">Thông Tin Khách Hàng</div>
        <ul class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
            <li class="home" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                <a itemprop="item" asp-controller="NguoiDungs" asp-action="Loadsanpham" title="Trang chủ">
                    <span itemprop="name">Trang chủ</span>
                    <meta itemprop="position" content="1">
                </a>
            </li>

            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                <strong itemprop="name">Chi Tiết</strong>
                <meta itemprop="position" content="2">
            </li>

        </ul>
    </div>

</section>
<section class="NoidungChinh">
    <div class="Noidung1">
        <div class="title_hello">
            <h5 class="title_trangtaikhoan">Trang Tài Khoản</h5>
            <p>
                Xin chào:
                <span>@ViewBag.khachhang.TenNguoiDung </span>
            </p>
        </div>
        <ul class="noidung1_1">
            <li><a class="noidungInfo" asp-action="ChiTietNG">Thông tin tài khoản</a></li>
            <li><a class="noidungInfo_active" asp-action="DonHang">Đơn hàng của bạn</a></li>
            <li><a class="noidungInfo" href="@Url.Action("EditMK", new { id = @ViewBag.khachhang.MaNguoiDung })">Đổi mật khẩu</a></li>
            <li><a asp-action="SoDiaChi">Số địa chỉ</a></li>
            <li><a asp-controller="Home" asp-action="Loadsanpham">Đăng xuất</a></li>
        </ul>
    </div>
    <div class="Noidung2">
        <h2 class="title_Chinh">Đơn hàng của bạn</h2>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>Đơn hàng</th>
                        <th>Tình Trạng Đơn Hàng</th>
                        <th>Địa chỉ</th>
                        <th>Giá trị đơn hàng</th>
                        <th>TT thanh toán</th>
                        <th>Ngày Dự Kiến Giao</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.MaDonHang</td>
                        <td>@item.TinhTrang</td>
                        <td>@item.DiaChi</td>
                        <td>@item.TongTien</td>
                        @{
                            @if (@item.DaThanhToan == null || item.DaThanhToan == false)
                            {
                                <td>Chưa Thanh Toán</td>
                            }
                            else
                            {

                                <td>Đã Thanh Toán</td>
                            }

                        }
                        <td>@item.NgayDuKien</td>
   
                           <td>
   
                               <div class="btn-group btn-group-sm ">
                                <a href="@Url.Action("ChiTietDH", "ChiTietNguoiDung", new { MaDH = item.MaDonHang })">
                                    <i class="fas fa-pen btn btn-primary "></i>
                                </a>
                                <a href="@Url.Action("Delete", "ChiTietNguoiDung", new { id = item.MaDonHang })">
                                    <i class="fas fa-trash-alt btn btn-danger "></i>
                                </a>

                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <pager class="pager-container" list="Model" asp-area="" asp-controller="ChiTIetNguoiDung" asp-action="DonHang" />
            </ul>
        </div>
    </div>

</section>