@model Do_an_TMDT.ViewModels.HomeVM

<div class="sneaker">
    <div class="tieude">
        <h1>SNEAKERS</h1>
        <p>Các sản phẩm Sneakers có tại ND Shoes</p>
    </div>
    <ul class="thuonghieu">
       
        @foreach (var item in Model.TH)
        {
            <li><a href="">@item.TenThuongHieu</a></li>
        }
    </ul>
    <div class="menu_sp">
        @{int i = 0;
        }
        @foreach (var item in Model.MatHangs)
        {

            <div class="menu_sp-item">

                <img onerror="this.src='~/images/duphong.webp'" src="~/@item.MatHangAnhs[0].Anh" width="250px" alt="">
                <div class="item_text">
                    <a href="@Url.Action("ChiTiet", "ChiTiet", new { MaSp = item.listSPs.MaMatHang })"> @item.listSPs.TenMatHang</a> <br>
                </div>
                <div class="item_daban">
                    <a href="@Url.Action("ChiTiet", "ChiTiet", new { MaSp = item.listSPs.MaMatHang })">@item.thuonghieu[0].TenThuongHieu</a>
                </div>
                <br>
                <div class="item_gia">
                    <a href="@Url.Action("ChiTiet", "ChiTiet", new { MaSp = item.listSPs.MaMatHang })">  @item.listSPs.GiaBan</a>
                </div>

                <div class="layer2">
                    <a href="@Url.Action("ChiTiet", "ChiTiet", new { MaSp = item.listSPs.MaMatHang })"><img onerror="this.src='~/images/duphong.webp'" src="~/@item.MatHangAnhs[1].Anh" width="250px" alt=""></a>
                    <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
                    <button><ion-icon name="cart-outline"></ion-icon></button>
                </div>

            </div>
            i++;
        }




    </div>


   
