@model Do_an_TMDT.Models.DonHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1> Chi Tiết Đơn Hàng</h1>
@{

    if (@ViewBag.sus != null)
    {
        <div class="col">
            <div class="alert alert-success col-lg-2" role="alert">
                @ViewBag.sus
            </div>
        </div>
    }
}
<div>
    <h4> Đơn Hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Địa Chỉ:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class="col-sm-2">
            Số điện thoại:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class="col-sm-2">
            Tình trạng đơn Hàng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>
        <dt class="col-sm-2">
            Tình trạng Thanh Toán:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DaThanhToan)
        </dd>
        <dt class="col-sm-2">
            Tổng:
        </dt>
        <dd class="col-sm-10">
            @string.Format("{0:0,0}",Model.TongTien) VND
        </dd>
        <dt class="col-sm-2">
            Ngày xuất đơn:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayXuatDonHang)
        </dd>
        <dt class="col-sm-2">
            Email người mua:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaNguoiDungNavigation.Email)
        </dd>
        <dt class="col-sm-2">
            Người Nhận:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenNguoiNhan)
        </dd>
        <dt class="col-sm-2">
            Email người giao hàng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaNguoiGiaoHangNavigation.Email)
        </dd>
    </dl>
</div>
<div class="form-group">
    <label asp-for="MaNguoiGiaoHang" class="control-label">
        Họ tên shipper giao đơn hàng:  @{if (ViewBag.Ten != null)
            {@ViewBag.Ten}}
    </label>

</div>
<form asp-action="Details">
    @{if (ViewBag.tinhtrang == "Chưa xác nhận")

        {

            <div class="form-group">
                <input type="button" value="Chưa xác nhận" class="btn btn-primary" />
            </div>}
        else if (ViewBag.tinhtrang == "Đã xác nhận")
        {
            <div class="form-group">
                <input type="submit" value="Đóng gói" class="btn btn-primary" />
            </div>
        }
    }

</form>
<form asp-action="Update">
    @{
        if (ViewBag.tinhtrang == "Đã đóng gói")
        {
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MaNguoiGiaoHang" class="control-label">Mã Shipper giao đơn hàng</label>
                <select asp-for="MaNguoiDung" class="form-control" id="MaNguoiGiaoHang" asp-items="ViewBag.MaNguoiGiaoHang"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaNguoiGiaoHang" class="control-label">
                    Họ tên shipper giao đơn hàng:  @{if (ViewBag.Ten != null)
                        {@ViewBag.Ten}}
                </label>

            </div>
            <div class="form-group">
                <input type="submit" id="giaoviec" value="Giao việc" class="btn btn-success" />


                <a asp-area="Admin" asp-controller="AdminDonHangs" asp-action="Index" class="btn btn-primary">Quay Lại</a>
            </div>
        }
    }
</form>
