@model Do_an_CCNPMM.Models.MatHang

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MatHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenMatHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMatHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DangDuocBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DangDuocBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoSao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoSao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongDaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongDaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DangDuocHienThi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DangDuocHienThi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDanhMucNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDanhMucNavigation.Slug)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKichCoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKichCoNavigation.MaKichCo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMauSacNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMauSacNavigation.MaMauSac)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhaCungCapNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhaCungCapNavigation.Std)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaThuongHieuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaThuongHieuNavigation.Slug)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaMatHang" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
