@model IEnumerable<Do_an_TMDT.Models.MatHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<!-- Content Wrapper START -->
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Orders List</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a class="breadcrumb-item" href="#">Apps</a>
                <a class="breadcrumb-item" href="#">E-commerce</a>
                <span class="breadcrumb-item active">Orders List</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select class="custom-select" style="min-width: 180px;">
                                <option selected>Catergory</option>
                                <option value="all">All</option>
                                <option value="homeDeco">Home Decoration</option>
                                <option value="eletronic">Eletronic</option>
                                <option value="jewellery">Jewellery</option>
                            </select>
                        </div>
                        <div class="m-b-10">
                            <select class="custom-select" style="min-width: 180px;">
                                <option selected>Status</option>
                                <option value="all">All</option>
                                <option value="inStock">In Stock </option>
                                <option value="outOfStock">Out of Stock</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <button class="btn btn-primary">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <span>Add Product</span>
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <input id="checkAll" type="checkbox">
                                    <label for="checkAll" class="m-b-0"></label>
                                </div>
                            </th>
                            <th>ID</th>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Stock Left</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input id="check-item-1" type="checkbox">
                                    <label for="check-item-1" class="m-b-0"></label>
                                </div>
                            </td>
                            <td>
                                #31
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">Gray Sofa</h6>
                                </div>
                            </td>
                            <td>Home Decoration</td>
                            <td>$912.00</td>
                            <td>20</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>In Stock</div>
                                </div>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i class="anticon anticon-edit"></i>
                                </button>
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <i class="anticon anticon-delete"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input id="check-item-2" type="checkbox">
                                    <label for="check-item-2" class="m-b-0"></label>
                                </div>
                            </td>
                            <td>
                                #32
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="assets/images/others/thumb-10.jpg" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">Beat Headphone</h6>
                                </div>
                            </td>
                            <td>Eletronic</td>
                            <td>$137.00</td>
                            <td>56</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>In Stock</div>
                                </div>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i class="anticon anticon-edit"></i>
                                </button>
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <i class="anticon anticon-delete"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input id="check-item-3" type="checkbox">
                                    <label for="check-item-3" class="m-b-0"></label>
                                </div>
                            </td>
                            <td>
                                #33
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="assets/images/others/thumb-11.jpg" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">Wooden Rhino</h6>
                                </div>
                            </td>
                            <td>Home Decoration</td>
                            <td>$912.00</td>
                            <td>12</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>In Stock</div>
                                </div>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i class="anticon anticon-edit"></i>
                                </button>
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <i class="anticon anticon-delete"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input id="check-item-4" type="checkbox">
                                    <label for="check-item-4" class="m-b-0"></label>
                                </div>
                            </td>
                            <td>
                                #34
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="assets/images/others/thumb-12.jpg" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">Red Chair</h6>
                                </div>
                            </td>
                            <td>Home Decoration</td>
                            <td>$128.00</td>
                            <td>0</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <div>Out of Stock</div>
                                </div>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i class="anticon anticon-edit"></i>
                                </button>
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <i class="anticon anticon-delete"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input id="check-item-5" type="checkbox">
                                    <label for="check-item-5" class="m-b-0"></label>
                                </div>
                            </td>
                            <td>
                                #35
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="assets/images/others/thumb-13.jpg" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">Wristband</h6>
                                </div>
                            </td>
                            <td>Eletronic</td>
                            <td>$776.00</td>
                            <td>0</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <div>Out of Stock</div>
                                </div>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i class="anticon anticon-edit"></i>
                                </button>
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <i class="anticon anticon-delete"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input id="check-item-6" type="checkbox">
                                    <label for="check-item-6" class="m-b-0"></label>
                                </div>
                            </td>
                            <td>
                                #36
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="assets/images/others/thumb-14.jpg" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">Charging Cable</h6>
                                </div>
                            </td>
                            <td>Eletronic</td>
                            <td>$119.00</td>
                            <td>37</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>In Stock</div>
                                </div>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i class="anticon anticon-edit"></i>
                                </button>
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <i class="anticon anticon-delete"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input id="check-item-7" type="checkbox">
                                    <label for="check-item-7" class="m-b-0"></label>
                                </div>
                            </td>
                            <td>
                                #37
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="assets/images/others/thumb-15.jpg" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">Three Legs</h6>
                                </div>
                            </td>
                            <td>Home Decoration</td>
                            <td>$199.00</td>
                            <td>17</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>In Stock</div>
                                </div>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i class="anticon anticon-edit"></i>
                                </button>
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <i class="anticon anticon-delete"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Content Wrapper END -->
<!-- Search Start-->
<div class="modal modal-left fade search" id="search-drawer">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header justify-content-between align-items-center">
            <h5 class="modal-title">Search</h5>
            <button type="button" class="close" data-dismiss="modal">
                <i class="anticon anticon-close"></i>
            </button>
        </div>
        <div class="modal-body scrollable">
            <div class="input-affix">
                <i class="prefix-icon anticon anticon-search"></i>
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <div class="m-t-30">
                <h5 class="m-b-20">Files</h5>
                <div class="d-flex m-b-30">
                    <div class="avatar avatar-cyan avatar-icon">
                        <i class="anticon anticon-file-excel"></i>
                    </div>
                    <div class="m-l-15">
                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Quater Report.exl</a>
                        <p class="m-b-0 text-muted font-size-13">by Finance</p>
                    </div>
                </div>
                <div class="d-flex m-b-30">
                    <div class="avatar avatar-blue avatar-icon">
                        <i class="anticon anticon-file-word"></i>
                    </div>
                    <div class="m-l-15">
                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Documentaion.docx</a>
                        <p class="m-b-0 text-muted font-size-13">by Developers</p>
                    </div>
                </div>
                <div class="d-flex m-b-30">
                    <div class="avatar avatar-purple avatar-icon">
                        <i class="anticon anticon-file-text"></i>
                    </div>
                    <div class="m-l-15">
                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Recipe.txt</a>
                        <p class="m-b-0 text-muted font-size-13">by The Chef</p>
                    </div>
                </div>
                <div class="d-flex m-b-30">
                    <div class="avatar avatar-red avatar-icon">
                        <i class="anticon anticon-file-pdf"></i>
                    </div>
                    <div class="m-l-15">
                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Project Requirement.pdf</a>
                        <p class="m-b-0 text-muted font-size-13">by Project Manager</p>
                    </div>
                </div>
            </div>
            <div class="m-t-30">
                <h5 class="m-b-20">Members</h5>
                <div class="d-flex m-b-30">
                    <div class="avatar avatar-image">
                        <img src="assets/images/avatars/thumb-1.jpg" alt="">
                    </div>
                    <div class="m-l-15">
                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Erin Gonzales</a>
                        <p class="m-b-0 text-muted font-size-13">UI/UX Designer</p>
                    </div>
                </div>
                <div class="d-flex m-b-30">
                    <div class="avatar avatar-image">
                        <img src="assets/images/avatars/thumb-2.jpg" alt="">
                    </div>
                    <div class="m-l-15">
                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Darryl Day</a>
                        <p class="m-b-0 text-muted font-size-13">Software Engineer</p>
                    </div>
                </div>
                <div class="d-flex m-b-30">
                    <div class="avatar avatar-image">
                        <img src="assets/images/avatars/thumb-3.jpg" alt="">
                    </div>
                    <div class="m-l-15">
                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Marshall Nichols</a>
                        <p class="m-b-0 text-muted font-size-13">Data Analyst</p>
                    </div>
                </div>
            </div>
            <div class="m-t-30">
                <h5 class="m-b-20">News</h5>
                <div class="d-flex m-b-30">
                    <div class="avatar avatar-image">
                        <img src="assets/images/others/img-1.jpg" alt="">
                    </div>
                    <div class="m-l-15">
                        <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">5 Best Handwriting Fonts</a>
                        <p class="m-b-0 text-muted font-size-13">
                            <i class="anticon anticon-clock-circle"></i>
                            <span class="m-l-5">25 Nov 2018</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Search End-->
<!-- Quick View START -->
<div class="modal modal-right fade quick-view" id="quick-view">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header justify-content-between align-items-center">
            <h5 class="modal-title">Theme Config</h5>
        </div>
        <div class="modal-body scrollable">
            <div class="m-b-30">
                <h5 class="m-b-0">Header Color</h5>
                <p>Config header background color</p>
                <div class="theme-configurator d-flex m-t-10">
                    <div class="radio">
                        <input id="header-default" name="header-theme" type="radio" checked value="default">
                        <label for="header-default"></label>
                    </div>
                    <div class="radio">
                        <input id="header-primary" name="header-theme" type="radio" value="primary">
                        <label for="header-primary"></label>
                    </div>
                    <div class="radio">
                        <input id="header-success" name="header-theme" type="radio" value="success">
                        <label for="header-success"></label>
                    </div>
                    <div class="radio">
                        <input id="header-secondary" name="header-theme" type="radio" value="secondary">
                        <label for="header-secondary"></label>
                    </div>
                    <div class="radio">
                        <input id="header-danger" name="header-theme" type="radio" value="danger">
                        <label for="header-danger"></label>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h5 class="m-b-0">Side Nav Dark</h5>
                <p>Change Side Nav to dark</p>
                <div class="switch d-inline">
                    <input type="checkbox" name="side-nav-theme-toogle" id="side-nav-theme-toogle">
                    <label for="side-nav-theme-toogle"></label>
                </div>
            </div>
            <hr>
            <div>
                <h5 class="m-b-0">Folded Menu</h5>
                <p>Toggle Folded Menu</p>
                <div class="switch d-inline">
                    <input type="checkbox" name="side-nav-fold-toogle" id="side-nav-fold-toogle">
                    <label for="side-nav-fold-toogle"></label>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Quick View END -->

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenMatHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DangDuocBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoSao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongDaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DangDuocHienThi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaDanhMucNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKichCoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaMauSacNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNhaCungCapNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaThuongHieuNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenMatHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DangDuocBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoSao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongDaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DangDuocHienThi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDanhMucNavigation.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKichCoNavigation.MaKichCo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaMauSacNavigation.MaMauSac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNhaCungCapNavigation.Std)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaThuongHieuNavigation.Slug)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaMatHang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaMatHang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaMatHang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
