@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Do_an_TMDT.Models.MatHang>

@{
    ViewData["Title"] = "Quản lý mặt hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">@ViewData["Title"] : </h2>
    <div class="header-sub-title">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dash list-inline">
                <li class="breadcrumb-item list-inline-item">
                    <i class="anticon anticon-home m-r-5"></i>
                    <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item active list-inline-item" aria-current="page">
                    @ViewData["Title"]
                </li>
            </ol>
        </nav>
    </div>

</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="txtMaDanhMuc" name="txtMaDanhMuc" style="min-width: 180px;" asp-items="ViewBag.DanhMuc">
                            <option selected>All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right" >
                <a class="btn btn-primary btn-tone" asp-area="Admin" asp-area="Admin" asp-controller="AdminMatHangs" asp-action="Create">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm mặt hàng</span>
                </a>                        
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>Tên Mặt Hàng</th>
                        <th>Ảnh</th>
                        <th>Giá bán</th>
                        <th>Số sao</th>
                        <th>Số lượng</th>
                        <th>Số lượng đã bán</th>
                        <th>Đang được bán</th>
                        <th>Danh mục</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenMatHang)
                            </td>
                            <td>
                                <img class="img-fluid rounded" onerror="src='/images/duphong.webp'"
                                 src="~/@if(item.MatHangAnhs.Count>0)
                                {
                                    @item.MatHangAnhs.FirstOrDefault().Anh
                                }"
                                 style="max-width: 60px;">
                            </td>
                            <td>
                                @item.GiaBan.ToString("#,##0") VND
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoSao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuongDaBan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DangDuocBan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaDanhMucNavigation.Slug)
                            </td>


                            <td>
                                <div class="btn-group btn-group-sm ">
                                    <a class="m-10" asp-area="Admin" asp-controller="AdminMatHangs" asp-action="Edit" asp-route-id="@item.MaMatHang">
                                        <i class="fas fa-pen btn btn-primary "></i>
                                    </a>
                                    <a class="m-10" asp-area="Admin" asp-controller="AdminMatHangs" asp-action="Details" asp-route-id="@item.MaMatHang">
                                        <i class="fas fa-clipboard-list btn btn-warning "></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a class="m-10" data-toggle="modal" data-target="#deleteModal-@item.MaMatHang">
                                        <i class="fas fa-trash-alt btn btn-danger "></i>
                                    </a>
                                    <form asp-area="Admin" asp-controller="AdminMatHangs" asp-action="Delete" asp-route-id="@item.MaMatHang">

                                        <div class="modal fade" id="deleteModal-@item.MaMatHang" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Xóa mặt hàng này</h5>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <div class="warning">Bạn muốn xóa mặt hàng này?</div>
                                                        <div class="text-danger "> @item.MaMatHang : @item.TenMatHang</div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default btn-tone" data-dismiss="modal">Đóng</button>
                                                        <button type="submit" class="btn btn-danger btn-tone">Xóa</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminMatHangs" asp-route-MaDanhMuc="@ViewBag.CurrentMaDanhMuc" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    $(document).ready(function () {
        jQuery("#txtMaDanhMuc").change(function () {
            var madanhmuc = jQuery(this).children(":selected").attr("value");
            madanhmuc = parseFloat(madanhmuc);
            $('#txtMaDanhMuc option')
                    .removeAttr('selected');
            $("#txtMaDanhMuc > [value=" + madanhmuc + "]").attr("selected", "true");
            $.ajax({
                url: '/Admin/AdminMatHangs/Filtter',
                datatype: "json",
                type: "GET",
                data: {
                        maDanhMuc: madanhmuc
                },
                async: true,
                success: function (results) {
                    if (results.status == "success") {
                        window.location.href = results.redirectUrl;
                    }
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });

        $("#keyword").keyup(function () {
            var strkeyword = $('#keyword').val();
            $.ajax({
                url: '/Admin/Search/FindProduct/',
                datatype: "json",
                type: "POST",
                data: { keyword: strkeyword },
                async: true,
                success: function (results) {
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    });
</script>
}